<nav class="top-nav z-2" id="category-nav">
  <input type="checkbox" id="menu-toggle">
  <label for="menu-toggle" class="hamburger">&#9776;</label>
  <div class="nav-links">
    {{#each categories}}
    <a href="#{{this.slug}}">{{this.title}}</a>
    {{/each}}
    <a href="#inactive-bots">Inactive bots</a>
  </div>
</nav>
<div class="container ml-auto mr-auto px-4 px-md-5 mb-0">
  <main>
    <div class="row">
      <div class="col-sm-12 px-0 px-md-5 mx-auto intro-text">
        <h1 class="text-center mt-5 mb-5 pt-5 pt-md-0">
          Stefan's creative bot showcase <span class="text-nowrap">🤖🎨</span>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 px-0 px-md-3 mx-auto intro-text">
        <blockquote class="blockquote fst-italic border-start border-5 border-secondary ps-3 my-5"
          cite="https://www.rollingstone.com/culture/culture-commentary/internet-future-about-to-get-weird-1234938403/">
          <p>
            <a href="https://stefanbohacek.com/" aria-label="my website">Stefan Bohacek</a> has been working for years to enable almost anyone
            to create simple, automated bots, offering
            up everything from a constantly-updated view of the weather at the South Pole to one that posts excerpts
            from
            the City of New York's archives of civic data (here's a map of every Latin cultural organization in the
            city!)
            to ones that post obscure and delightful images from the collections of museums around the world.
          </p>
          <cite>
            — <a
              href="https://www.rollingstone.com/culture/culture-commentary/internet-future-about-to-get-weird-1234938403/">The
              Internet Is About to Get Weird Again</a>, Rolling Stone, 2023
          </cite>
        </blockquote>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 px-0 px-md-5 mx-auto intro-text mb-2 mb-md-4">
        <p>
          This page lists all the creative bots I've made over the <a
            href="https://stefanbohacek.com/blog/on-running-creative-online-bots-with-ten-thousand-followers/">past
            decade</a> (<a href="#active-bots">{{active_bots_count}} active</a>,
          <a href="#inactive-bots">{{inactive_bots_count}} inactive</a>, {{bots_count_total}} in total), with <a
            href="https://stefanbohacek.com/blog/analyzing-fediverse-followers/">{{follower_stats.unique_followers}} unique followers across {{follower_stats.unique_servers}} servers</a>{{#if follower_stats.calculated_month}}, as of {{follower_stats.calculated_month}}{{/if}}.
        </p>
        <p>
          A few other things that might interest you:
        </p>
        <ul>
          <li>
            tutorials and descriptions of my bot projects <a href="https://stefanbohacek.com/tag/bots/">on my blog</a>
          </li>
          <li>
            my <a href="https://stefanbohacek.com/blog/twitter-bots-a-retrospective/">2023 retrospective on Twitter bots</a>
          </li>
          <li>
            my other projects <a href="https://stefanbohacek.com/">on my personal website</a>
          </li>
        </ul>
        <p>
          And here's how you can <a href="https://stefanbohacek.com/support-my-work/">support my work</a>. And <a
            href="https://stefanbohacek.online/@stefan"
            rel="me">follow me on Mastodon</a>!
        </p>
      </div>
    </div>
  </main>
</div>
</div>
<div id="active-bots"
  class="container-fluid ml-auto mr-auto mt-2">
  {{#if bots}}
  {{#if categories}}
  <div class="row">
    <div class="col-12 text-center">
      <div class="container mx-auto mb-4">
        <label for="fediverse-server" class="mb-2">Links below will open from this server:</label>
        <div class="input-group fediverse-input-group mx-auto"
          style="max-width: 500px;">
          <span class="input-group-text">https://</span>
          <input type="text"
            id="fediverse-server"
            class="form-control"
            placeholder="mastodon.social"
            aria-label="Fediverse server domain">
          <button class="btn btn-outline-secondary"
            type="button"
            id="fediverse-server-update">Update</button>
        </div>
        <p id="fediverse-server-error"
          class="mt-2 d-none">That doesn't seem right, please double-check your server's name.</p>
        <p id="fediverse-server-updated"
          class="mt-2 d-none">Links updated.</p>
        <p id="fediverse-server-unknown"
          class="mt-2 d-none">Unknown fediverse server, links will open directly.</p>
      </div>
    </div>
    <div class="col-sm-12 px-0 px-md-5 mx-auto intro-text mt-3">
      <ol class="category-list">
        {{#each categories}}
        <li><a href="#{{this.slug}}">{{this.title}}</a></li>
        {{/each}}
      </ol>
    </div>
  </div>
  {{/if}}
  {{#each categories}}
  <div id="{{this.slug}}"
    class="category-section pb-5">
    <div class="row section-heading-row">
      <div class="col-sm-12">
        <div class="container ml-auto mr-auto">
          <h2 class="text-center pt-3 pb-4 m-0"><a href="#{{this.slug}}">{{this.title}}</a></h2>
        </div>
      </div>
    </div>
    <div class="row list pt-4">
      {{#each this.bots}}
      <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-2 list-item">
        {{> bot about=this.about}}
      </div>
      {{/each}}
    </div>
    {{#if this.collection_url}}
    <div class="row">
      <div class="col-12 text-center pt-2 pb-3">
        <a href="{{this.collection_url}}" class="btn btn-outline-secondary" target="_blank" rel="noopener">View collection on Mastodon</a>
      </div>
    </div>
    {{/if}}
  </div>
  {{/each}}
  <div id="inactive-bots"
    class="category-section pb-5">
    <div class="row section-heading-row">
      <div class="col-sm-12">
        <div class="container ml-auto mr-auto">
          <h2 class="text-center pt-3 pb-4 m-0"><a href="#inactive-bots">Inactive bots</a></h2>
        </div>
      </div>
    </div>
    <div class="row list pt-4">
      {{#each inactive_bots}}
      <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-2 list-item">
        {{> bot about=this.about}}
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
  <div class="row bg-body-secondary py-5">
    <div class="col-sm-12 mx-auto">
      <blockquote data-bs-theme="automatic"
        class="fediverse-post mx-auto fediverse-post-rendered w-100 mt-4 mb-4">
        <div class="card w-100">
          <div class="post-body-wrapper card-body pt-4 pb-0">
            <div class="card-text">
              <div class="row no-gutters mb-1">
                <div class="d-flex">
                  <div class="flex-shrink-0">

                    <a href="https://stefanbohacek.online/@stefan"
                      class="text-decoration-none">
                      <img title="Profile image"
                        alt="Profile image of @Stefan Bohacek"
                        loading="lazy"
                        class="post-author-image rounded-circle border"
                        width="48"
                        height="48"
                        onerror="this.src='https://stefanbohacek.com/wp-content/plugins/fediverse-embeds/includes/../images/images/blank.png'"
                        src="https://stefanbohacek.com/wp-json/ftf/media-proxy?url=aHR0cHM6Ly9zYm9ubGluZS5ueWMzLmRpZ2l0YWxvY2VhbnNwYWNlcy5jb20vYWNjb3VudHMvYXZhdGFycy8xMDkvNjk0LzM0Ni85MjkvODQ0LzYxNy9vcmlnaW5hbC9mNDg0NzE4MGU0ZTNlZjBlLmpwZw==">
                    </a>

                  </div>
                  <div class="flex-grow-1 ms-3">

                    <div class="post-author pb-3">
                      <p class="font-weight-bold mb-0 mt-0">
                        <a class="text-dark text-decoration-none"
                          href="https://stefanbohacek.online/@stefan"
                          aria-label="me on Mastodon">Stefan Bohacek</a>
                      </p>
                      <p class="mb-1 mb-md-2 mt-0 fs-6 text-break">
                        <a class="text-muted text-decoration-none"
                          href="https://stefanbohacek.online/@stefan">
                          @stefan@stefanbohacek.online
                        </a>
                      </p>
                    </div>

                  </div>
                </div>
              </div>
              <div class="post-body">
                <p>NPR calling me and @mtrc@mastodon.social "bot watchers [...] bemoan[ing] the imminent demise of
                  creations they loved".</p>
                <p>Fair enough.</p>
                <p>
                  <a href="https://www.npr.org/2023/02/09/1155543369/twitters-new-data-access-rules-will-make-social-media-research-harder"
                    target="_blank"
                    rel="nofollow noopener"
                    translate="no">
                    <span class="invisible">https://www.</span>
                    <span class="ellipsis">npr.org/2023/02/09/1155543369/</span>
                    <span class="invisible">twitters-new-data-access-rules-will-make-social-media-research-harder</span>
                  </a>
                </p>
                <p>
                  <a href="https://stefanbohacek.online/tags/bots"
                    class="mention hashtag"
                    rel="tag">#<span>bots</span>
                  </a>
                  <a href="https://stefanbohacek.online/tags/CreativeBots"
                    class="mention hashtag"
                    rel="tag">#<span>CreativeBots</span>
                  </a>
                  <a href="https://stefanbohacek.online/tags/Twitter"
                    class="mention hashtag"
                    rel="tag">#<span>Twitter</span>
                  </a>
                  <a href="https://stefanbohacek.online/tags/TwitterAPI"
                    class="mention hashtag"
                    rel="tag">#<span>TwitterAPI</span>
                  </a>
                </p>
                <div data-media-length="1"
                  class="post-media row mt-3 no-gutters">
                  <div data-media-type="image"
                    class="position-relative text-center col-sm-12 col-md-12 col-lg-12">
                    <a href="https://stefanbohacek.online/@stefan/109835509059214542"
                      target="_blank">
                      <img alt="A snippet from an NPR article:

&quot;Musk has long expressed his desire to rid the platform of &quot;bot armies.&quot; When Twitter first announced last Thursday that it will start charging for API usage without information of pricing or exceptions, bot watchers on the platform bemoaned the imminent demise of creations they loved. On Saturday, Musk tweeted that &quot;responding to feedback,&quot; bots &quot;providing good content&quot; will keep free access.&quot;

The word &quot;watchers&quot; is highlighted, showing a link to my personal site, stefanbohacek.com."
                        loading="lazy"
                        width="724"
                        height="267"
                        class="w-100 rounded border mb-3 object-fit-cover"
                        src="https://stefanbohacek.com/wp-json/ftf/media-proxy?url=aHR0cHM6Ly9zYm9ubGluZS5ueWMzLmRpZ2l0YWxvY2VhbnNwYWNlcy5jb20vbWVkaWFfYXR0YWNobWVudHMvZmlsZXMvMTA5LzgzNS81MDUvMDE1LzY5My8wNDUvb3JpZ2luYWwvZmZlNjhmY2RkMzkyYWJmZC5wbmc="
                        onerror="this.src='https://stefanbohacek.com/wp-content/plugins/fediverse-embeds/includes/../images/images/broken-image.png'">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </blockquote>
      <form class="fsb-prompt mt-4 mx-auto"
        style="max-width: 500px;">
        <label class="fw-bold">Share this page from your fediverse server</label>
        <div class="fsb-input-group mb-3">
          <span class="fsb-input-group-text">https://</span>
          <input required
            type="text"
            name="fediverse-domain"
            placeholder="mastodon.social"
            class="fsb-input fsb-domain"
            aria-label="Server domain">
          <button class="fsb-button"
            type="submit">
            <img alt="Icon of the selected fediverse server's platform"
              src="https://fediverse-share-button.stefanbohacek.com/fediverse-share-button/icons/mastodon.svg"
              class="fsb-icon" width="20" height="20">
            </span>Share</button>
        </div>
        <p class="fsb-support-note fsb-d-none">This server does not support sharing. Please visit <a
            class="fsb-support-note-link"
            aria-label="Visit the original server"
            target="_blank"
            href="">
          </a>.</p>
      </form>
      <script src="https://fediverse-share-button.stefanbohacek.com/fediverse-share-button/script.min.js"
        defer
        class="fsb-script">
        </script>
    </div>
  </div>
  <div class="row">
    <div class="row align-items-center mx-auto mt-5 mb-5">
      <div class="col-sm-12 mx-auto text-center">
        <p class="d-inline text-center">
          <a href="https://fightfascism.neocities.org"
            class="d-inline-block text-decoration-none">
            <img width="100px"
              height="100px"
              loading="lazy"
              class="m-2"
              alt="Fight Fascism"
              title="Fight fascism! Design by Angus Johnston"
              src="https://stefanbohacek.com/wp-content/themes/fourtonfish/images/other/fight-fascism-square.png">
          </a>
        </p>
        <p class="d-inline text-center">
          <a href="https://lifehacker.com/where-to-donate-to-help-people-fighting-for-racial-just-1843852418"
            class="d-inline-block text-decoration-none">
            <img width="100px"
              height="100px"
              loading="lazy"
              class="m-2"
              alt="The text 'Black Lives Matter' in all-caps, one letter per line, alternating between black text on white background and white text on black background. "
              title="Black Lives Matter logo"
              src="https://stefanbohacek.com/wp-content/themes/fourtonfish/images/other/blm.png">
          </a>
        </p>
        <p class="d-inline text-center">
          <a href="https://translifeline.org/donate/"
            class="d-inline-block text-decoration-none">
            <img width="100px"
              height="100px"
              loading="lazy"
              class="m-2"
              alt="The text 'Trans rights are human rights' in all-caps, laid out to form a trans rights flag with alternating blue, pink, and white stripes."
              title="Support the trans community!"
              src="https://stefanbohacek.com/wp-content/themes/fourtonfish/images/other/trans-rights.jpg">
          </a>
        </p>
        <p class="d-inline text-center">
          <a href="https://indieweb.org/"
            class="d-inline-block text-decoration-none">
            <img width="100px"
              height="100px"
              loading="lazy"
              class="m-2"
              alt="IndieWeb Camp logo consisting of stylized letters IWC and the text 'IndieWebCamp'"
              title="Support #indieweb!"
              src="https://stefanbohacek.com/wp-content/themes/fourtonfish/images/other/indiewebcamp-black.png">
          </a>
        </p>
      </div>
    </div>
  </div>
</div>